[user]
    name = Ömer Karaca
    email = omerkaracca@gmail.com

[init]
    defaultBranch = master

[push]
    autoSetupRemote = true

[pull]
    rebase = false

[color]
    ui = auto

[core]
	excludesfile = /Users/omer/.gitignore

[alias]
	ac = "!f() { git add -A && git commit -m \"$1\"; }; f"
	acp = "!f() { git add -A && git commit -m \"$1\" && git push; }; f"
